

.actions_edit {
    font-size: 15px;
    padding: 2px 5px;
    margin-right: 5px;
    cursor: pointer;
    background-color: rgb(66, 108, 187);
    color: white;
}

.actions_delete {
    font-size: 15px;
    padding: 2px 5px;
    cursor: pointer;
    background-color: crimson;
    color: white;
}